<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agriknowledge</title>
    
    <link rel="stylesheet" href="/css/vbar.css">
    <link rel="stylesheet" href="/css/agriknowledge.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <style>
            
    h1{
        color: #ffce63;
        margin-bottom: 10px;
        font-size: 3.0vw;
         position: fixed; 
         left: 40%;
         top:2.5%;
    }

    </style>
   
</head>

<body>
    <div class="content" style=" position: relative ; z-index: 10;" >
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/" style="text-decoration: none;"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/" style="text-decoration: none;"><i
                        class="fa fa-home"></i></a>
               
            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>

    <div class="header">
        <center>
            <h1 >Agro-knowledge</h1>
        </center>
    </div>
    <div class="container">

        <!-- box 01 -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Fruits</h2>
                <img src="/images/ak1.png" alt="">
                <a href="/akfruits">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
        <!-- box 02 -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Grains</h2>
                <img src="/images/ak3.png "  alt="">
                <a href="/akgrains">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
        <!-- box 03 -->
        <div class="box" id="b6">
            <span></span>
            <div class="content">
                <h2>Vegetables</h2>
                <img src="/images/ak2.png"  alt="">
                <a href="/akvegetables">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
        <!-- box 04 -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Flowers</h2>
                <img src="/images/ak4.png" alt="">
                <a href="/akflowers">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
        <!-- box 05 -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Beans</h2>
                <img src="/images/ak5.png" alt="">
                <a href="/akbeans">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
        <!-- box 06 -->
        <div class="box" id="b9">
            <span></span>
            <div class="content">
                <h2>Oilseeds</h2>
                <img src="/images/ak6.png"  alt="">
                <a href="/akoilseeds">
                    <i class="fas fa-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
     
    </div>
</body>

</html>