<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/css/vbar.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/loading.css">

</head>

<body>

    <div class="loading-area">
        <div class="content">
            <div class="vertical-bar">
                <div class="search-icon">
                    <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                    <a href="/"><i class="fa fa-home"></i></a>
                </div>
                <div class="social-icons">
                </div>
            </div>
            <span class="loader">Loading...</span>
            <span class="load_anim1"></span>
            <span class="load_anim2"></span>
        </div>

    </div>

</body>

</html>