<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="/images/loginwave.png">

    <div class="container">

        <div class="img">
            <img src="/images/login.svg">
        </div>

        <div class="login-content">
            <!-- signup form -->
            <form action="/login" method="POST">
                <!-- title -->
                <h2 class="title">Sign In</h2>
                <!-- username -->
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input" name="email" required>
                    </div>
                    
              
                </div>
                <div class="email error"></div>
                <!-- password -->
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input" name="password" required>
                    </div>
                </div>
                <div class="password error"></div>
                <!-- forgot password? -->
                <a href="#">Forgot Password?</a>
                <!-- Login button -->
                <input type="submit" class="btn" value="Login">
                <!-- link for new user -->
                <div class="bottom">
                    <p class="bottompara">Don't have an account?</p>
                    <a class="bottomlink" href="/signup">Sign Up</a>
                </div>
            </form>
        </div>
        
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>