<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Country Map</title>
  <!-- particular file css and js -->
  <script src="/js/mapdata.js"></script>
  <script src="/js/countrymap.js"></script>
  <link rel="stylesheet" href="/css/vbar.css">
   <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
 
    
    h1{
        color: #ffce63;
        margin-bottom: 10px;
        font-size: 4.5vw;
    }

 
  </style>
</head>

<body>
  <h1>
    <center>Government Schemes</center>
  </h1>
  <div class="content">
    <div class="vertical-bar">
      <div class="search-icon">
        <a href="/"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="/" ><i class="fa fa-home"></i></a>
        
      </div>
      <div class="social-icons">
      </div>
    </div>
  </div>
  <center>
    <div id="map"></div>
  </center>

</body>

</html>