<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes</title>
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/vbar.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="content" style="z-index: 50;">
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/"><i class="fa fa-home"></i></a>

            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>


    <div class="container">
        <!-- PSS -->
        <div class="card">
            <div class="content">
                <h1>Price support Scheme (PSS)</h1>
                <h3>Details</h3>
                <p>Price Support Scheme (PSS) is being implemented by Government of India in the state. Main crops of
                    the state like Bajra, Jowar, Maize, Paddy, Cotton, Tur, Moong, Urad, Groundnut, Sesamum Wheat, Gram,
                    Mustard, and Sugarcane etc. are covered.</p>
                <h3>Eligibility criteria:</h3>
                <p>Farmers of the Gujarat State.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>When prices of commodities fall below the MSP, State and central notified procurement nodal agencies
                    purchase commodities directly from the farmers at MSP under specified FAQ ( fair Average Quality),
                    By this way price of the main commodities are procured and protect the farmers against the
                    economical loss in farming.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Farmers get benefit of the scheme by sell of their produce at support price in APMC centers opened by
                    Nodal procurement agency.</p>
            </div>
        </div>

        <!-- AGR-3 -->
        <div class="card">
            <div class="content">

                <h1>AGR-3 Scheme</h1>
                <h3>Details</h3>
                <p>AGR-3 Distribution of Seeds of more productions varities / Hybrids varities Seeds and fertilizer at
                    subsidies etc. to Adivasi farmers in Tribal Area (TASP). The Government is trying to get the
                    higher production of the agricultural crops of the farmers belonging to scheduled tribe and the
                    tribal cultivator residing out side tribal area to improve their livelihood.</p>
                <h3>Eligibility criteria:</h3>
                <p>The scheme is only for the ST farmers.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>In the areas of Talukas (Blocks) and Districts which are benefited/added under the Agriculture
                    Support Program in Tribal Area Sub Plan & Dispersed Tribes (TASP) can get the benefit of this
                    Scheme.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>To avail the benefits of this scheme, the farmer has to apply on the
                    <a href="https://ikhedut.gujarat.gov.in/" target="_blank">(https://ikhedut.gujarat.gov.in/)</a>
                    i-khedut portal and
                    has to follow the prescribed procedure.
                    The farmer can take assistance of this scheme subject to the government's resolution.

                    For this scheme, District Agriculture Officer of the concerned district has to be contacted. Whose
                    information is available on iKhedut portal:<br>
                    <a href="https://ikhedut.gujarat.gov.in/Public/frm_Public_Contacts.aspx"
                        target="_blank">(https://ikhedut.gujarat.gov.in/Public/frm_Public_Contacts.aspx)</a><br>
                    <a href="https://ikhedut.gujarat.gov.in/Public/frm_Public_SchemeDetails.aspx"
                        target="_blank">(https://ikhedut.gujarat.gov.in/Public/frm_Public_SchemeDetails.aspx)</a>
                </p>
            </div>
        </div>

        <!-- Farmers Accidental Insurance Scheme -->
        <div class="card">
            <div class="content">
                <h1>Farmers Accidental Insurance Scheme</h1>
                <h3>Details</h3>
                <p>Government of Gujarat has implemented Farmer’s Accidental Insurance Scheme since 26th January, 1996
                    to provide insurance
                    coverage to the registered farmers in case of accidental death or permanent disability. This scheme
                    is 100% sponsored by
                    State Government. In this scheme, insurance premium is paid by the State Government for all farmers.
                    This scheme is
                    implemented under the Gujarat Community Group-Janta Accidental Insurance Scheme from 01/04/08
                    through Director of
                    Insurance, Gandhinagar. The main objective of the scheme is to assist the successor of the
                    registered farmer, all child
                    (son/daughter) of the registered farmer and the husband/wife of the registered farmer in case of
                    death or disability due
                    to accident.</p>
                <h3>Beneficiary</h3>
                <p>In case of accidental death or permanent disability, all registered farmers, any child (son/daughter)
                    of the farmer and
                    husband/wife of the farmer having age of 5 to 70 years are beneficiaries for the scheme.</p>
                <h3>Conditions</h3>
                <p>
                    • Deceased or Permanent disability person should be registered farmer (Have Individual or Joint name
                    land) or child of
                    registered farmer (Son or Daughter) or the husband/ Wife.<br>
                    • Death or permanent disability must be due to accident.<br>
                    • Suicide or Natural death are not covered in this scheme.<br>
                    • Deceased or Permanent disability person having age of 5 to 70 years.<br>
                    • Application should be made within 150 days to the office of concerned District Agriculture
                    Officer.<br>

                </p>
                <h3>How to get benefit of the scheme:</h3>
                <p>In case of accidental death, applicant will be accidental farmer's successor and in the case of
                    accidentally disability,
                    applicant will be disable person himself. Applicant should submit the application along with the
                    relevant papers in the
                    prescribed format to the concerned District Agricultural Officer, District Panchayat within 150 days
                    from the date of
                    death or date of accidental disabilities. Application received after 150 days will not be
                    eligible.<br><br><b>List of The documents attached with the claim application:</b><br>• Application
                    in
                    prescribed form Annexure -1, 2,3, 3(A),4,5
                    • 7/12, 8-A, Form no: 6 (certified extract after death date)<br>
                    • Post Mortem Report<br>
                    • F.I.R & spot panchnama Police Inquest Report or Court Order<br>
                    • Death Certificate & Age Proof<br>
                    • Case Approval report of Sub Divisional Magistrate.<br>
                    • Disability certificate of Medical board/Civil Surgeon in the case of permanent disability and
                    Photograph of
                    disablement shown.<br>
                    • Valid Driving License in case of Deceased was driving at the time of accident.<br>
                    • Indemnity bond<br>
                    • Heriditary Report (Pedhinamu)<br>
                    • Heriditary Report (Pedhinamu) in Successor case (When the husband/wife are not Successor)<br>
                    • Any other proof asked by Director of Insurance<br>
                </p>
            </div>
        </div>

        <!-- ATMA Schemes -->
        <div class="card">
            <div class="content">

                <h1>ATMA Schemes</h1>
                <h3>Details:</h3>
                <p>Agriculture technology management agency (ATMA) is a registered society at the district level, which
                    works with
                    different agriculture related institutions for sustainable agriculture development. The main
                    objective of this scheme is
                    to coordinate the various research and extension activities at the district level. It is also
                    responsible for
                    decentralization of public agriculture technology system.
                    Formation of ‘Farmer’s Interest Group (FIGs)’ with the help of public organisations, private
                    organisations, NGOs, Para
                    Extension Worker and private input dealers in all the blocks and villages of the district is one of
                    the major objectives
                    of ATMA.
                </p>
                <h3>Objectives:</h3>
                <p>• New institutional arrangements – Decentralized decision making.<br>
                    • Broad-based extension delivery (FSA)<br>
                    • Group approach to extension – FOs & FIGs<br>
                    • Gender concerns – Minimum 30% allocation<br>
                    • Convergence of line departments – gap filling mode<br>
                    • Multi agency extension strategies – encourage private sector (minimum 10% allocation)<br>
                    • Sustainability of extension services – Minimum 10% beneficiary contribution<br>
                    • Bottom up planning<br>
                </p>
                <h3>Eligibility criteria:</h3>
                <p>FIG groups formed under "ATMA” are registered through Project Director of respective district. After
                    registration,
                    members of FIG are eligible for benefits under the scheme.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>• Training on Agriculture and related subjects<br>
                    • Exposure visit<br>
                    • Krushi Mela/Exhibition<br>
                    • Farmer-Scientist Interaction<br>
                    • Farm School<br>
                    • Best ATMA farmer’s Award<br>
                    • Encouraging public-private partnership for all round development of Agriculture<br>
                    • Encouraging women participation/contribution in Agriculture<br>
                    • To publish and spread the success stories in the Agriculture and allied sector<br>
                </p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Under the ATMA scheme, Farmer’s Interest Groups (FIGs) of 11-25 farmers are formed. These FIGs are registered through
                the Project Director of respective district. A registration fee of Rs. 250 per group is charged. Registration can be
                done by collecting Rs. 10 per member. Information regarding registration of FIGs can be obtained by contacting Famer’s
                friend, Block Technology Manger or Subject Matter Specialist.</p>
            </div>
        </div>
    
    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>