<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes</title>
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/vbar.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="content" style="z-index: 50;">
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/"><i class="fa fa-home"></i></a>

            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>


    <div class="container">
        <!-- Floriculture Development Scheme in Meghalaya -->
        <div class="card">
            <div class="content">
                <h1>Floriculture Development Scheme in Meghalaya</h1>
                <h3>Details:</h3>
                <p>In Meghalaya, floriculture is mostly practiced as a hobby by flower lovers. However, lately the high
                    cost of planting
                    materials, seeds, cut-flowers etc and the increase in their demand, has created awareness in the
                    grower on the
                    commercial aspects. Although commercial Floriculture is a recent development in Meghalaya, however,
                    considering the
                    natural advantages of having the most varied range of climatic conditions in the country, it has a
                    very high potential
                    for cultivation of all types of flowers. The rich flora and the many species of Orchids growing wild
                    in the State which
                    is the highest ever recorded in a single concentrated area is a testimony to this effect. This
                    scheme has created a very
                    good and positive impact to the farmers in terms of returns, creating new economic avenues and
                    thereby enhancing the
                    benefits within a short period to the existing assets of the farmers. The beneficiaries selected
                    were made more aware of
                    the benefits of cultivation of ornamental crops and through the incentives given in this scheme have
                    become more
                    motivated especially in the commercial aspects which will automatically improve their socio -
                    economic conditions.
                </p>
                <h3>Eligibility criteria:</h3>
                <p><b>All categories of farmers within Meghalaya are eligible for this scheme within below
                        Details:</b><br><br>

                    1. Beneficiary must have a minimum area of 0.2 ha. or more.<br>
                    2. Preference will be given to highly enlightened progressive farmers, entrepreneurs who are willing
                    to invest in non -
                    food crops.<br>
                    3. Beneficiary will be selected by the officer of the respective District Horticulture Officer.<br>
                    4. Beneficiary must have some level of familiarity with ornamental crops.<br>
                    5. Beneficiary must have the necessary financial support! economic base for expansion in terms of
                    planting materials,
                    infrastructure etc to improve the commercial potentiality as required! demanded in the cultivation
                    of ornamental crops.<br>
                </p>
                <h3>Benefits of the Scheme:</h3>
                <p>1. Planting materials like seeds, seedlings, Plantlets Bulbs, Corms, Tubers, Mother Plants seeds/
                    bulbs (flower)/
                    Leather leaf fern/ polythene sleeve/bags/plastic & Earthernpots/ U.V. films/ Shadenets/ Polythene
                    pipes/ Protrays/
                    cocopeat/ Perlite/ soil rite/ PH meter/ EC meter/ rock wool/ labelling tags/ packing material for
                    cut flowers, etc.<br>
                    2. Purchase of Hybrid flower seeds, planting materials for distribution to the farmers at 50%
                    subsidy.<br>
                    3. Drip Irrigation @ Rs. 262/sq.m<br>
                    4. Organic and Inorganic manure fertilizers, micro-nutrients, soluble fertilizer rooting hormones,
                    plant protection
                    chemicals etc.<br>
                    5. Tools & Implements-Secateurs, Pruning Knives, watering cans. Digging spade (plastic handle)
                    sickle (Datri) self
                    sharpening serrated teeth model, Doa, Fork, measuring equipments, Rashi (Local, Knup, Khoh, Star,
                    Hedge shear, Hanging
                    basket, Watering can, lawn mowers etc<br>
                    6. Green house for a minimum area of 150 sqm @ Rs. 935/sqm as per G.O.I. norms.<br>
                </p>

            </div>
        </div>

        <!-- State Rice Mission Scheme: -->
        <div class="card">
            <div class="content">

                <h1>State Rice Mission Scheme:</h1>
                <h3>Objective:</h3>
                <p>Increasing productivity and production of rice through improved technologies and extension methods.
                    Quality /
                    certified seeds/ organic fertilizers through supply at 50 % subsidy.</p>
                <h3>Eligibility criteria:</h3>
                <p>Bonafide farmers engaged in Agriculture.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Bonafide farmers can apply in plain paper through the nearest Agriculture Development Officer of a CD
                    Block/
                    Agriculture Circle.</p>
            </div>
        </div>

        <!-- Seed Farms scheme: -->
        <div class="card">
            <div class="content">

                <h1>Seed Farms scheme</h1>
                <h3>Objectives:</h3>
                <p>Production of high quality seeds of cereals, pulses, oilseeds etc. and for raising Horticultural
                    seedlings such as
                    orange, coconut, arecanut etc. for distribution to cultivators.</p>
                <h3>Eligibility criteria:</h3>
                <p>Bonafide farmers engaged in Agriculture.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>When prices of commodities fall below the MSP, State and central notified procurement nodal agencies
                    purchase commodities directly from the farmers at MSP under specified FAQ ( fair Average Quality),
                    By this way price of the main commodities are procured and protect the farmers against the
                    economical loss in farming.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Bonafide farmers can apply in plain paper through the nearest Agriculture Development Officer of a CD
                    Block/
                    Agriculture Circle.</p>
            </div>
        </div>

        <!-- Plant Protection including Integrated Pest Management (IPM) Scheme -->
        <div class="card">
            <div class="content">

                <h1>Plant Protection including Integrated Pest Management (IPM) Scheme</h1>
                <h3>Objectives:</h3>
                <p>Mobilising and supporting farmers the use of bio-pesticides and bio-agents by distribution of such
                    products to
                    encourage organic crop production.</p>

                <h3>Eligibility criteria:</h3>
                <p>Bonafide farmers engaged in Agriculture.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Bonafide farmers can apply in plain paper through the nearest Agriculture Development Officer of a CD
                    Block/
                    Agriculture Circle.</p>
            </div>
        </div>

        <!-- FRUIT DEVELOPMENT SCHEME: -->
        <div class="card">
            <div class="content">

                <h1>FRUIT DEVELOPMENT SCHEME:</h1>
                <h3>Objectives:</h3>
                <p>To make available to the farmers good quality planting materials in convergence mode and sale at
                    subsidised rates.</p>

                <h3>Eligibility criteria:</h3>
                <p>Bonafide farmers engaged in Agriculture, possessing own or leased land of at least 0.2 (hectares) or
                    more.</p>
                <h3>Benefits:</h3>
                <p>1.50% subsidy sale to the farmers.<br>
                    2.Free sampling of planting materials for convergent mode with MGNREGA.<br>
                    3.100% assistance.<br>
                    4.75% subsidy assistance limited to 500 sqm per beneficiaries.<br>
                </p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Bonafide farmers can apply in plain paper through the nearest Agriculture Development Officer of a CD
                    Block/Agriculture Circle.</p>
            </div>
        </div>

        <!-- Supply Of Agriculture Machineries: -->
        <div class="card">
            <div class="content">

                <h1>Supply Of Agriculture Machineries:</h1>
                <h3>Objectives:</h3>
                <p>Distribution and sale of Agriculture Machineries such as Power Tillers, etc to farmers at subsidized
                    rate.</p>

                <h3>Eligibility criteria:</h3>
                <p>Bonafide farmers engaged in Agriculture, possessing own or leased land of at least 0.2 (hectares) or
                    more.</p>


                <h3>How to get benefit of the scheme:</h3>
                <p>Bonafide farmers can apply in plain paper through the nearest Agriculture Development Officer of a CD
                    Block/ Agriculture
                    Circle.</p>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>