<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes</title>
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/vbar.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="content" style="z-index: 50;">
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/"><i class="fa fa-home"></i></a>

            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>


    <div class="container">

        <!-- Maharashtra Saur Krushi Pump Yojana -->
        <div class="card">
            <div class="content">

                <h1>Maharashtra Saur Krushi Pump Yojana</h1>

                <h3>Description:</h3>
                <p>Maharashtra state government started a scheme to provide Solar Irrigation Pump to the state farmers
                    to promote solar
                    energy, Through this scheme government is providing 95% subsidy to the farmers for setting up solar
                    pumps in their field
                    for irrigation purposes.</p>

                <h3>Eligibility criteria:</h3>
                <p>1) Farmers who want to apply under the Mukhyamantri Solar Pump Scheme must have their own
                    agricultural land and
                    permanent residence in the Maharashtra state.<br>
                    2) Farmers who have their own agricultural electricity connection will not be allowed in this
                    scheme.<br>
                    3) All the subsidy under Maharashtra Solar Krishi Pump Yojana will directly be transferred to the
                    beneficiaries accounts.<br>
                    4) Solar Water Pumps will be provided only for irrigation purposes under this scheme.<br>
                </p>
                <h3>Benefits of the Scheme:</h3>
                <p>• Through the Maharashtra Solar Pump Yojana, the state government provide solar pumps to the state
                    farmers on 95% subsidy <br>
                    • Maharashtra government will replace the Diesel pumps with solar pumps to reduce pollution. <br>
                    • Subsidy burden of electricity bills will also end up through this scheme. <br>
                    • In the first phase of the Atal Solar Agriculture Pump Scheme, the Maharashtra government will
                    distribute 25,000 solar.
                    pumps and in the second phase, 50,000 solar pumps will be distributed and in the third phase, the
                    government will.
                    distribute 25,000 solar pumps to the farmers to complete their irrigation needs. <br>
                    • Under this scheme government also want to cover these remote areas where the Agriculture
                    Electricity feeders are not available yet. <br>
                    • Under this scheme, the farmers with less than 5 acres of agricultural land will get subsidy at the
                    rate of 95% of the
                    total cost of 3 HP solar pump set whereas the farmers with more than 5 acres of land will be
                    provided with 5 HP solar
                    pumps for Rs.30, 000 <br>
                </p>


                <h3>How to get benefit of the scheme:</h3>
                <p>• For Mukhyamantri Solar Pump Yojana Registration, First of all farmers have to open the official
                    website that is
                    www.mahadiscom.in.<br>
                    • From the home page go to the Beneficiary Services and click on the Apply online<br>
                    • Select the New Consumer option <br>
                    • Now a msedcl solar pump scheme application form will open on your computer screen <br>
                    • In this application Fill all the details such as Paid Pending AG Connection Consumer Details,
                    Details of Applicant and
                    Location, Nearest MSEDCL Consumer Number (where the pump is to be installed), Details of Applicant
                    Residential Address &
                    Location, etc carefully. <br>
                    • Finally, Click on the Submit button. <br>

                </p>
            </div>
        </div>

        <!-- Maharashtra Interest Free Farm Loan Scheme 2021 -->
        <div class="card">
            <div class="content">

                <h1>Maharashtra Interest Free Farm Loan Scheme 2021</h1>
                <h3>Description:</h3>
                <p>Maharashtra Interest Free Crop Loan Scheme has been announced to raise the income of the farmers. The
                    deputy CM while
                    presenting the budget has announced various schemes and developmental projects for the farmers as
                    Maharashtra is one of
                    the largest farming states in the country. The Maha Vikas Aghadi (MVA) government announced that
                    farmers would be given
                    interest-free crop loans up to Rs 3 lakh.
                    The interest free crop loan scheme would start from Kharif season. The existing scheme of providing
                    concessions in
                    interest on crop loans is being converted into interest-free crop loan scheme.

                </p>
                <h3>Eligibility criteria:</h3>
                <p> <strong>• Farmers of Maharashtra :</strong> To avail the scheme farmer has to be a domicile of Maharashtra<br>
                    <strong> • Farm land–</strong> The farmers has to have their own farm land to get the loan<br>
                    <strong>• Bank account–</strong> The candidate must have a bank account where the loan amount will be transferred.<br>
                </p>
                <h3>Benefits of the Scheme:</h3>
                <p>With help of the scheme it can be said that the farmers will be able to increase their earning. It will give them a
                sense of relief because they often suffer loss of crops and that is the reason they often commit suicide because they
                cannot bear the interest. This scheme will reduce the burden from their shoulder.</p>
                <h3>Documents require to get benefit of the scheme:</h3>
                <p> <strong>• Address proof-</strong> At the time of application one has to submit their address proof that says that they are a permanent
                domicile of the state.<br>
                <strong>• Land record–</strong> The farmers have to provide their land record at the time of application<br>
                <strong>• Account details– </strong>The farmers have to provide their bank account details at the time of application.<br>
</p>
            </div>
        </div>

        <!-- Solar Water Pump Scheme for Farmers of Maharashtra: -->
        <div class="card">
            <div class="content">
        
                <h1>Solar Water Pump Scheme for Farmers of Maharashtra:</h1>
                <h3>Description:</h3>
                <p>Solar water pumps scheme for farmers in Maharashtra is launched by state government of Maharashtra. Under the state
                government scheme, beneficiaries are supposed to get solar pumps at a highly subsidized rate and farmers have to pay
                just 5 per cent of the pump’s total cost.
                
                The Maharashtra government ambitious scheme of installing five lakh solar agricultural pumps across the state for
                farmers. The government has given a contract for at least 10,000 solar pumps to install in the pilot phase. One solar
                pumps cost between Rs 3 and Rs 5 lakh depending on the horse power. The scheme is applicable for all districts in
                Maharashtra state. To get benefits from this scheme, a farmer has to have a landholding smaller than five acres. The
                farmers have deposited money with the state government for installation of these pumps. The State government also
                relaxing the norms from 5 acres to 10 acres to get more application for installation of solar water pumps. The
                government has aims to provide solar water pump on subsidy basis for agriculture in Maharashtra state.

                </p>

                <h3>Eligibility criteria:</h3>
                <p>All farmers who have less than 5 acres land are eligible for Solar water pumps scheme for farmers in Maharashtra
                </p>
                <h3>Benefits of the Scheme:</h3>
                <p>- Subsidy to install solar water pumps<br>
                - Saving energy and bills<br>
                - No impact of power cuts and load shading<br>
</p>
                <h3>Documents require to get benefit of the scheme:</h3>
                <p> - Application form <br>
                - Applicant Aadhaar card <br>
                - Applicant 7/12 <br>

                </p>
            </div>
        </div>

    <!-- State Agriculture Mechanization Scheme: -->
        <div class="card">
            <div class="content">
        
                <h1>State Agriculture Mechanization Scheme</h1>
                <h3>Description:</h3>
                <p>This scheme is to promote agricultural mechanization and increase the use of energy in agriculture up to 2 kW / ha.
                </p>
                <h3>Objective:</h3>
                <p>To extend the benefits of agricultural mechanization to areas where energy use in agriculture is low and to small and
                marginal farmers.
                Creating awareness among the participants through demonstrations and manpower development.

                </p>
        
                <h3>Eligibility criteria:</h3>
                <p>• It is mandatory for the farmer to have Aadhar card<br>
                • The farmer should have 7/12 transcript and 8A<br>
                • Farmers App. Caste certificate is required if the caste is in Scheduled Tribes<br>
                • Grant will be payable for only one tool i.e. tractor or machine / tool<br>
                • If the tractor is in the name of the person in the family, he will be eligible for the benefit of tractor driven
                implements but proof of being a tractor must be attached.<br>
                • If you have availed benefits for one component / tool, you cannot apply for the same component / tool for next 10
                years but you can apply for other tools<br>

                </p>
          
                <h3>Documents require to get benefit of the scheme:</h3>
                <p> • Aadhaar card<br>
                • Excerpt 7/12<br>
                • 8A certificate<br>
                • Quotation of equipment to be procured and inspection report given by the Central Government accredited inspection body<br>
                • Caste Certificate (for Scheduled Castes and Scheduled Tribes)<br>
                • Self declaration<br>
                • Pre-consent letter<br>

        
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>