<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes</title>
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/vbar.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="content" style="z-index: 50;">
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/"><i class="fa fa-home"></i></a>

            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="card">
            <div class="content">

                <h1>AGR-3 Scheme</h1>
                <p>AGR-3 Distribution of Seeds of more productions varities / Hybrids varities Seeds and fertilizer at
                    subsidies etc. to Adivasi farmers in Tribal Area (TASP).<br>The Government is trying to get the
                    higher production of the agricultural crops of the farmers belonging to scheduled tribe and the
                    tribal cultivator residing out side tribal area to improve their livelihood.</p>
                <h3>Eligibility criteria:</h3>
                <p>The scheme is only for the ST farmers.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>In the areas of Talukas (Blocks) and Districts which are benefited/added under the Agriculture
                    Support Program in Tribal Area Sub Plan & Dispersed Tribes (TASP) can get the benefit of this
                    Scheme.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>To avail the benefits of this scheme, the farmer has to apply on the i-khedut portal
                    <a href="https://ikhedut.gujarat.gov.in/" target="_blank">(https://ikhedut.gujarat.gov.in/)</a> and
                    has to follow the prescribed procedure.<br>
                    The farmer can take assistance of this scheme subject to the government's resolution.
                    <br>
                    For this scheme, District Agriculture Officer of the concerned district has to be contacted. Whose
                    information is available on iKhedut portal:<br>
                    <a href="https://ikhedut.gujarat.gov.in/Public/frm_Public_Contacts.aspx"
                        target="_blank">(https://ikhedut.gujarat.gov.in/Public/frm_Public_Contacts.aspx)</a><br>
                    <a href="https://ikhedut.gujarat.gov.in/Public/frm_Public_SchemeDetails.aspx"
                        target="_blank">(https://ikhedut.gujarat.gov.in/Public/frm_Public_SchemeDetails.aspx)</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="content">

                <h1>Price support Scheme (PSS)</h1>
                <p>Price Support Scheme (PSS) is being implemented by Government of India in the state. Main crops of
                    the state like Bajra, Jowar, Maize, Paddy, Cotton, Tur, Moong, Urad, Groundnut, Sesamum Wheat, Gram,
                    Mustard, and Sugarcane etc. are covered.</p>
                <h3>Eligibility criteria:</h3>
                <p>Farmers of the Gujarat State.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>When prices of commodities fall below the MSP, State and central notified procurement nodal agencies
                    purchase commodities directly from the farmers at MSP under specified FAQ ( fair Average Quality),
                    By this way price of the main commodities are procured and protect the farmers against the
                    economical loss in farming.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Farmers get benefit of the scheme by sell of their produce at support price in APMC centers opened by
                    Nodal procurement agency.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">

                <h1>Price support Scheme (PSS)</h1>
                <p>Price Support Scheme (PSS) is being implemented by Government of India in the state. Main crops of
                    the state like Bajra, Jowar, Maize, Paddy, Cotton, Tur, Moong, Urad, Groundnut, Sesamum Wheat, Gram,
                    Mustard, and Sugarcane etc. are covered.</p>
                <h3>Eligibility criteria:</h3>
                <p>Farmers of the Gujarat State.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>When prices of commodities fall below the MSP, State and central notified procurement nodal agencies
                    purchase commodities directly from the farmers at MSP under specified FAQ ( fair Average Quality),
                    By this way price of the main commodities are procured and protect the farmers against the
                    economical loss in farming.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Farmers get benefit of the scheme by sell of their produce at support price in APMC centers opened by
                    Nodal procurement agency.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">

                <h1>Price support Scheme (PSS)</h1>
                <p>Price Support Scheme (PSS) is being implemented by Government of India in the state. Main crops of
                    the state like Bajra, Jowar, Maize, Paddy, Cotton, Tur, Moong, Urad, Groundnut, Sesamum Wheat, Gram,
                    Mustard, and Sugarcane etc. are covered.</p>
                <h3>Eligibility criteria:</h3>
                <p>Farmers of the Gujarat State.</p>
                <h3>Benefits of the Scheme:</h3>
                <p>When prices of commodities fall below the MSP, State and central notified procurement nodal agencies
                    purchase commodities directly from the farmers at MSP under specified FAQ ( fair Average Quality),
                    By this way price of the main commodities are procured and protect the farmers against the
                    economical loss in farming.</p>
                <h3>How to get benefit of the scheme:</h3>
                <p>Farmers get benefit of the scheme by sell of their produce at support price in APMC centers opened by
                    Nodal procurement agency.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">

                <a href="https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/schemes-on-seeds"
                    target="_blank">(https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/schemes-on-seeds)</a><br>
                <a href="https://vikaspedia.in/agriculture/national-schemes-for-farmers"
                    target="_blank">(https://vikaspedia.in/agriculture/national-schemes-for-farmers)</a>
                <a href="https://vikaspedia.in/agriculture/national-schemes-for-farmers/agricultural-insurance"
                    target="_blank">(https://vikaspedia.in/agriculture/national-schemes-for-farmers/agricultural-insurance)</a>
                <a href="https://vikaspedia.in/agriculture/policies-and-schemes"
                    target="_blank">(https://vikaspedia.in/agriculture/policies-and-schemes)</a><br>
                <a href="https://agri.gujarat.gov.in/forecast.htm"
                    target="_blank">(https://agri.gujarat.gov.in/forecast.htm)</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>