<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemes</title>
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/vbar.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="content" style="z-index: 50;">
        <div class="vertical-bar">
            <div class="search-icon">
                <a href="/map"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="/"><i class="fa fa-home"></i></a>

            </div>
            <div class="social-icons">
            </div>
        </div>
    </div>


    <div class="container">

        <!-- Tarbandi Yojana -->
        <div class="card">
            <div class="content">

                <h1>Tarbandi Yojana</h1>
                <h3>DESCRIPTION:</h3>
                <p>Rajasthan government has launched a new scheme “Rajasthan Tarbandi Yojana 2020” for the farmers of
                    Rajasthan. This
                    yojana helps the farmers to stop the damage of crops due to stray animals. The crops of the farmers
                    have been damaged by
                    cows and blue bull due to which farmers of Rajasthan are constantly upset with this problem. They
                    are forced to surround
                    the field by barbed wire from all sides and guarding the fields day and night as they are not able
                    to bear the
                    expenditure to do the fencing of their fields. Under this scheme the farmers will provide financial
                    help from the
                    government of Rajasthan to wire his fields.This scheme will help the small farmers to protect their
                    crops from stray
                    animals.<br>
                    The State Government of Rajasthan has allocated a budget of Rs.8 crores. Under this scheme, 50% of
                    the total expenditure
                    or an amount of Rs.40,000 is assisted by the Government. The scheme has been implemented in all
                    districts of the state
                    for the target groups, which incorporates support for 17.83% of scheduled castes, 13.48% of
                    scheduled tribes and 30% of
                    women farmers.
                </p>
                <h3>Eligibility criteria:</h3>
                <p>• The applying farmer should be a permanent resident of Rajasthan<br>
                    • The farmer should possess the land of 0.5 hectares at least for a decade (10 years)<br>
                    • To avail the 50% subsidy or Rs.40,000, the farmer should contribute 50% of his or her money<br>
                    • To be eligible, the farmer has to lock the land<br>
                    • If the applicant is availing any benefit from any other scheme for the same land, then he or she
                    is ineligible<br>
                    • Grant will be remitted only on completing the wirework with the resources of self or with the
                    assistance received from
                    the bank loan.
                </p>
                <h3>Benefits of the Scheme:</h3>
                <p>• From this yojana, every farmer crop and land will be protected by all stray animals.<br>
                • Farmers used to build barriers around their fields for the protection of crops.<br>
                • Let’s inform you all that the state government will provide help of 50% in these barriers while the other 50% they
                will spend on the farmers. So, around Rs.40000 has to be provided by the Rajasthan government.<br>
                • Below this yojana, the main advantage will be given to small & marginal farmers of Rajasthan.<br>
                • The government will provide a subsidy of around 400 meters of barriers.<br>
                • It helps our crop and field from all stray animals.<br>
                • So, for this yojana, there are around Rs.3 lakh 96 thousand are organized to make barriers around the fields.<br>
</p>
                <h3>Documents require to get benefit of the scheme:</h3>
                <p>1. Applicant should have his Ration card (Bhamashah Card)<br>
                2. Applicant should have at least 6 months old Jamabandi.<br>
                3. Affidavit of land.<br>
                4. Updated Aadhar card<br>
                5. Passport Size photographs.<br>
                </p>
                <h3>Website Link:</h3>
                <p>
                    <a href="https://www.indiafilings.com/learn/rajasthan-tarbandi-yojana/"
                        target="_blank">https://www.indiafilings.com/learn/rajasthan-tarbandi-yojana/</a>
                </p>
            </div>
        </div>

        <!-- Rajasthan Free Tractor & Krishi Yantra Yojana Eligibility Criteria-->
        <div class="card">
            <div class="content">
        
                <h1>Rajasthan Free Tractor & Krishi Yantra Yojana Eligibility Criteria</h1>
                <h3>DESCRIPTION:</h3>
                <p>Free Tractor and Krishi Yantra Yojana has been launched by the Chief Minister of the state, Ashok Gehlot Ji, to provide
                benefits to the small and marginal farmers of the state under this scheme. From the free side, facilities of tractor and
                agricultural machinery will be provided in the fields for harvesting, threshing and other agricultural activities. If
                any farmer wants to avail the benefit of Rajasthan Free Tractor Yojana 2021, you can contact Jfarm Services by sending
                an SMS to 9282222885 number, calling this number or sms any device Can order for All Eligible Applicants who want to
                apply to this scheme.</p>

                <h3>Eligibility criteria:</h3>
                <p>• The applicant should be a permanent resident of Rajasthan state.<br>
                • Under this scheme, economically weaker small and marginal farmers of the state will be eligible.<br>
                • Farmers of the state should have cultivable land.<br>
                • It is necessary for the applicant to have agricultural land in his own name / in the case of undivided family, the
                name of the applicant in the revenue record.<br>
                • In order to get the grant for a tractor powered agricultural machine, the tractor must be registered in the name of
                the applicant.<br>
                </p>

                <h3>Benefits of the Scheme:</h3>
                <p>• Economically weaker small and marginal farmers can contact Jfarm Services by sending an SMS on 9282222885 to avail
                this scheme for free rent.<br>
                • On the demand from eligible farmers, service is being provided through the company’s registered tractors and
                threshers.<br>
                • About 5 lakh trucks and 20 thousand tractors are connected in it, which will take the products of the farmers like
                grains, pulses, vegetables, fruits etc. to the mandis, railway stations, airports, etc. at competitive rates.<br>
                • A farmer will be given a grant only once in a three-year period on any type of agricultural machine (eg seed-less
                fertilizer drill, plow, thresher, etc.) in any scheme of the department. A farmer can be given a grant on a maximum of 3
                different types of agricultural implements in all the schemes in a financial year.<br>

                </p>
                <h3>Documents require to get benefit of the scheme:</h3>
                <p>1. Applicant should have his Ration card (Bhamashah Card)<br>
                    2. Applicant should have at least 6 months old Jamabandi.<br>
                    3. Affidavit of land.<br>
                    4. Updated Aadhar card<br>
                    5. Passport Size photographs.<br>
        
                </p>
                    <h3>Website Link:</h3>
                    <p>
                        <a href="https://www.policeresults.com/rajasthan-free-tractor-and-agricultural-machine/"
                            target="_blank">https://www.policeresults.com/rajasthan-free-tractor-and-agricultural-machine/</a>
                    </p>
            </div>
        </div>
       
    
      
       
    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>